flask
git+https://github.com/derekperry/flask-social.git
flask-sqlalchemy
flask-uploads
facebook-sdk
flask_util_js
git+https://github.com/mitsuhiko/flask-oauth.git
flask-migrate
bcrypt
gunicorn
psycopg2