<!DOCTYPE html>
<html lang="{{ page_lang|default('en') }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block meta_tags %}{% endblock meta_tags %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.118/styles/kendo.common.min.css" integrity="sha384-dzY13Rs6o16wBq5pubUsFf/rhlwTkg4fiaCzVVy+ZqTT04pwSM5SIVVrAM2FLYof" crossorigin="anonymous">
        <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.118/styles/kendo.default.min.css" integrity="sha384-QRMlwD17LGj+bGdPf6eH/n0R7UM18ICtnneHLmnamIve/TQC0iWV98NLit2j4r9t" crossorigin="anonymous">
        <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.118/styles/kendo.default.mobile.min.css" integrity="sha384-z99LJpRuofdUDfBrAzoOmwExqf38uT21ACUnt3iZXlqyAPqjfISoB93u6sg+srQb" crossorigin="anonymous">
        {% block stylesheets %}{% endblock stylesheets %}
        <title>{% block page_title %}{% endblock page_title %}</title>
    </head>

    <body>
        <div class="container">
            {% block content %}{% endblock content %}
        </div>

        {% block footer %}{% endblock footer %}
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="//kendo.cdn.telerik.com/2017.1.118/js/kendo.all.min.js" integrity="sha384-pfYNtr4MTpwD/7U+FmLulu2gDm3UWW0x2hXOCVsoSMvfrlTi0QpDqUlwtJ2ThEhK" crossorigin="anonymous"></script>
        <script src="{{ url_for('root.static', filename='js/site.js') }}"></script>
        {% block javascripts %}{% endblock javascripts %}
    </body>
</html>